.markup {
    height: 100%;
    width: 100%;

}

.case{
    text-align: center;
    font-size: 26px;
}

.main_menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_menu li{
    list-style: none;
    float: left;
    height: 30px;
    margin: 0;
    width: 150px;
    text-align: center;
    position: relative;
    padding-top: 12px;
}


.main_menu li a{
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: black;
}


.main_menu li:hover{
    background: black;
    opacity: 0.8;
}
.main_menu li:hover a{
    color: white;
}

div{
    border: 0;
    margin: 0;
    padding: 0;
}

.page_area{
    float: left;
    width: 90%;
    height: 100%;
}
.page_menu{
    float: right;
    width: 10%;
    height: 100%;
}

